<%- include('header'); -%>
<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae in nostrum dolorem asperiores repellendus non expedita! Doloribus, eum cum odit fugit blanditiis esse saepe. Dolore inventore nisi aspernatur similique dolorum!</p>
<%- include('footer'); -%>